.footer-menu {
  background-color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-menu__information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 4rem;
}
.footer-menu__contact {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-menu__derechos {
  border-top: 1px solid #877f7f;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}
