#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #ff2800db;
  border-radius: 50%;
  padding: 4rem;
}
.controls__item {
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.6rem 0.2rem;
}
.controls__screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  color: white;
}
.controls__points {
  color: black;
}
.controls__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.controls__btn-start {
  background: tomato;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
}
.controls__btn-pause {
  background: #cbad0c;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.controls__btn-pause:hover,
.controls__btn-pause:focus,
.controls__btn-pause:active {
  border: #cbad0c;
  outline: #cbad0c;
}
.controls__btn-reset {
  background: peru;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  font-weight: 700;
}
