.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  margin: 2rem;
  border-radius: 0.8rem;
}
.cards__search-info {
  font-size: 1.3rem;
  margin: 2rem;
}
.cards__no-results {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}
.cards-container {
  border-radius: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 0.9rem;
}
.cards-container__imagen {
  margin: 0 0 15px 0;
  border-radius: 8px;
  overflow: hidden;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
}
.cards-container__photos {
  height: 100%;
  width: 100%;
}
.cards-container__title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
  height: 50px;
}
.cards-container__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-container__price {
  color: #1563d8;
  font-size: 1.5rem;
}
.cards-container__btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  margin: 1rem 0;
  color: white;
  background-color: rgba(202, 65, 15, 0.757);
  font-size: 1.2rem;
}
.cards-container__btn:hover {
  background-color: coral;
}
.loading,
.error {
  text-align: center;
  padding: 20px;
  background: #d82f15;
  color: white;
  width: 20%;
  margin: 0 auto;
  border-radius: 0.5rem;
}
